<!DOCTYPE html>
{% load thumbnail %}
{% load copyrigth_tags simpleblocks_tags front_admin_tags filter_custom %}

<html lang="ru">
  <head>
    <meta charset="utf-8">

	<meta name="author" content="web-aspect.ru">
    <title>{{ request.flatpage.get_title }}</title>
	<meta name="description" content="{% block description %}{{ request.flatpage.get_description }}{% endblock %}" />
	<meta name="keywords" content="{% block keywords %}{{ request.flatpage.get_keywords }}{% endblock %}" />

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic|Roboto+Condensed:400italic,700italic,400,700&subset=latin,cyrillic,cyrillic-ext'
				rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/typography.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}favicon.ico" rel="icon" />

	<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap/js/bootstrap.min.js"></script>
		
	{% block extra_media %}{% endblock %}
	</head>
		
	<body>
		<div class="wrapper">
			<!--header-->
			<div class="header">
				<div class="container">
					<div class="row-fluid">
						<div class="p_l_360">
							<a class="w_350 logo" href="/">
								<img src="{{ STATIC_URL }}img/logo.png" alt="logo">
							</a>
							<div class="row-fluid block">
							<div class="span7 header_form">
								<form class="form-horizontal n_m" name="login" action="">
									<div class="row-fluid">
										<div class="span5">
											<input type="text" class="span12 form-control" placeholder="Номер членской книжки">
										</div>
										<div class="span4">
											<input type="password" class="span12 form-control" placeholder="Пароль">
										</div>
										<div class="span3">
											<button type="submit" class="btn btn-default f_orange"><i class="fa fa-sign-in"></i>Войти</button>
										</div>
									</div>

								</form>
								<div>
									<span class="help-block shadow_white">Не зарегистрированы?  <a class="f_default" href="#">Регистрация</a></span>
								</div>
							</div>
							<div class="span5 t_right">
								<p class="phone shadow_dark">
									{% FrontAdmin "/admin/configuration/configmodel/1/" %}
									{%  if request.config.phone %}
										+7({{ request.config.code_phone }})<span>{{ request.config.phone }}</span>
									{%  endif %}
								</p>
								<p class="adress n_m shadow_white">
									{%  if request.config.adress %}
										{{ request.config.adress }}
									{% endif %}
								</p>
							</div>
						</div>
							<div class="row-fluid">
								<div class="span12">
									<ul class="main_menu">
										<li class="{% if request.flatpage.url == '/' %}active{% endif %}">
											<a href="/"><i class="fa fa-square fa-small"></i>Главная</a>
										</li>
										<li class="{% if active == 'question' %}active{% endif %}">
											<a href="{% url 'question_url' %}"><i class="fa fa-square fa-small"></i>Вопрос-ответ</a>
										</li>
										<li class="{% if active == 'news' %}active{% endif %}">
											<a href="{% url 'news_list_url' %}"><i class="fa fa-square fa-small"></i>Новости</a>
										</li>
										<li class="{% if active == 'article' %}active{% endif %}">
											<a href="{% url 'article_list_url' %}"><i class="fa fa-square fa-small"></i>Статьи</a>
										</li>
										<li class="{% if active == 'video' %}active{% endif %}">
											<a href="{% url 'video_list_url' %}"><i class="fa fa-square fa-small"></i>Видео</a>
										</li>
										<li class="{% if active == 'contacts' %}active{% endif %}">
											<a href="{% url 'contacts_url' %}"><i class="fa fa-square fa-small"></i>Контакты</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--header-->
			
			<!--sub_menu-->
			<div class="container">
				<div class="row-fluid">
					<div class="p_l_360">
						<div class="w_350"></div>
						<div class="row-fluid">
							<div class="span12 m_block sub_menu f_bold f_big">
								<div class="row-fluid">
									<ul>
										<li class="{% if request.flatpage.url == '/departments/' %}active{% endif %} span4">
											<p><a href="#"><i class="fa fa-square fa-small"></i>Департаменты</a></p>
										</li>
										<li class="{% if request.flatpage.url == '/defence/' %}active{% endif %} span4">
											<p><a href="/defence/"><i class="fa fa-square fa-small"></i>Заявка на защиту прав</a></p>
										</li>
										<li class="{% if request.flatpage.url == '/court_base/' %}active{% endif %} span4 t_right">
											<p><a href="/court_base/"><i class="fa fa-square fa-small"></i>База судебных решений</a></p>
										</li>
									</ul>
								</div>
								<div class="row-fluid">
									<ul>
										<li class="{% if request.flatpage.url == '/rating/' %}active{% endif %} span4">
											<p><a href="#"><i class="fa fa-square fa-small"></i>Рейтинг предприятий</a></p>
										</li>
										<li class="{% if active == 'forum' %}active{% endif %} span5">
											<p><a href="/forums/"><i class="fa fa-square fa-small"></i>Форум для коммисаров</a></p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end sub menu-->

			{% block top %}{% endblock %}

			{% block breadcrumbs_all %}
				<div class="margin_t_big">
					<div class="container">
						<ul class="breadcrumb">
							<li><a href="/">Главная</a> <span class="divider">-</span></li>
							{% block breadcrumbs %}
								<li class="active">{{ request.flatpage.title }}</li>
							{% endblock %}
						</ul>
					</div>
				</div>
			{% endblock %}


			<div class="container">
				<div class="row-fluid">
					<div class="span12 content block">
						
						{% block content_all %}
							{% block flatpage %}
								{% if request.flatpage %}
									<div class="t_center">
										<h1>
											{% FrontAdmin request.flatpage.get_admin_url %}
											{{ request.flatpage.title|first_word_orange }}
										</h1>
									</div>
									{% if request.flatpage.content %}
										{{ request.flatpage.content|safe }}
									{% endif %}
								{% endif %}
							{% endblock %}
							
							{% block content %}{% endblock %}
							
							{% block bottom %}{% endblock %}
						{% endblock %}

					</div>
				</div>
			</div>

			<div class="push"></div>
		</div>
		<!--wrapper-->
		
		<!--footer-->
		<div class="footer">
			<div class="ft_top"></div>
			<div class="ft_wrap block">
				<div class="container block">
					<div class="row-fluid">
						<div class="span4 margin_t_big ft_menu">
							<div class="row-fluid">
								<ul class="fa-ul">
									<li class="{% if request.flatpage.url == '/' %}active{% endif %} span6">
										<a href="/"><i class="fa fa-square fa-small"></i>Главная</a>
									</li>
									<li class="{% if active == 'article' %}active{% endif %} span6">
										<a href="{% url 'article_list_url' %}"><i class="fa fa-square fa-small"></i>Статьи</a>
									</li>
								</ul>
							</div>
							<div class="row-fluid">
								<ul class="fa-ul">
									<li class="{% if active == 'question' %}active{% endif %} span6">
											<a href="{% url 'question_url' %}"><i class="fa fa-square fa-small"></i>Вопрос-ответ</a>
										</li>
									<li class="{% if active == 'video' %}active{% endif %} span6">
											<a href="{% url 'video_list_url' %}"><i class="fa fa-square fa-small"></i>Видео</a>
										</li>
								</ul>
							</div>
							<div class="row-fluid">
								<ul class="fa-ul">
									<li class="{% if active == 'news' %}active{% endif %} span6">
										<a href="{% url 'news_list_url' %}"><i class="fa fa-square fa-small"></i>Новости</a>
									</li>
									<li class="{% if active == 'contacts' %}active{% endif %} span6">
										<a href="{% url 'contacts_url' %}"><i class="fa fa-square fa-small"></i>Контакты</a>
									</li>
								</ul>
							</div>
						</div>
					
						<div class="span4 margin_t_big">
							<div class="social margin_b">
								<a class="social_icon f" href="#"></a>
								<a class="social_icon vk" href="#"></a>
								<a class="social_icon ok" href="#"></a>
							</div>
							<p>
								<span class="f_white">Разработка сайта: </span>
									<a class="f_default" href="http://web-aspect.ru" target="_blank">web-aspect.ru</a>
							</p>
							<div>
								© {% get_copyright 2013 %} {% FrontAdmin "/admin/configuration/configmodel/1/" %}
								<a class="f_default" href="/">{{ request.config.title }}</a>
								Все права защищены.
							</div>
						</div>
					
						<div class="span4 margin_t">
							{% FrontAdmin "/admin/configuration/configmodel/1/" %}
							<div class="margin_b"><span class="shadow_white"> тел.:&nbsp;&nbsp;&nbsp;</span>
								<span class="phone shadow_dark">
									{%  if request.config.phone %}
										+7({{ request.config.code_phone }})<span>{{ request.config.phone }}</span>
									{% endif %}
								</span>
							</div>
							<div class="margin_b"><span class="shadow_white">email:&nbsp;&nbsp;&nbsp;</span>
								<span class="phone shadow_dark">
									{%  if request.config.email %}
										<a href="mailto:{{ request.config.email }}">{{ request.config.email }}</a>
									{% endif %}
								</span>
							</div>
							<div class="adress shadow_white">
								{%  if request.config.adress %}
									{{ request.config.adress }}
								{% endif %}
							</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!--footer-->

	</body>                    
</html>