h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	text-rendering: optimizelegibility;
}

a {
	text-decoration:underline;
    color:#005184;
}

a:hover, a:active, a:focus {text-decoration:none}

.help-block,
.f_default,
.f_default:hover,
.f_default:focus,
.f_default:active
    {color:#3e454c}

.t_center{text-align:center;}
.t_right{text-align:right;}
.f_white {color:#fff}
.f_blue {color: #005184}
.f_small {font-size:24px}
.f_norm { font-weight:normal}
.f_bold {font-weight:bold}
.f_big {font-size:large}
.f_extra_big {font-size: x-large}
.f_extra_big2 {font-size: xx-large}
.f_extra_big3 {font-size: 38px}
.f_orange {color:#ff8300}
.f_up {text-transform:uppercase}
.shadow_white{text-shadow: 0 0 1px #F7F7F0}
.shadow_dark{text-shadow: 1px 1px 1px rgba(62, 69, 76, 0.65)}
.no_shadow {text-shadow:none;}

ul {list-style: square}

.fa {
	vertical-align:middle;
	margin-right:5px;
}

.fa-small {	font-size: 6px;}

.c_line,
.c_line_min_left {
    position: relative;
    overflow: hidden;
}

.c_line_min_left {padding-left: 1.5em}

.c_line:before,
.c_line_min_left:before {
	left: -1em;
	margin: 0 0 0 -30%;
}

.c_line_min_left:before {left: 0}

.c_line:before,
.c_line:after,
.c_line_min_left:before,
.c_line_min_left:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 30%;
	height: 1px;
	vertical-align: middle;
	background-clip: content-box;
	border-bottom: 1px solid #666;
}

.c_line:after,
.c_line_min_left:after {
	left: 1em;
	margin: 0 -30% 0 0;
}

.c_line_min_left:after {left: .3em}

/*
.c_line h1,
.c_line h2,
.c_line h3,
.c_line h4 {
    display: inline-block;
    padding: 10px;
    background: #fff;
    text-align: center;
}

.c_line h1 {
    content: "";
    width: 100%;
    border-top: 1px solid #000;
    height: 1px;
    left: 0;
    top: 55px;
    display: block;
    position: absolute;
    background: #fff;
    z-index: -1;
    text-align: center;
}
*/

h1 {
	font-size:300%;
}

h2 {
	font-size:250%;
}

h3 {
	font-size:175%;
}

h4 {
	font-size:133.33%;
}

h5 {
	font-size:116.67%;
}

h6 {
	font-weight: bold;
	font-size:100%;
}

h1 + hr, h2 + hr, h3 + hr, h4 + hr {
	margin-left:50px;
	margin-right:50px;
	border-color:#3e454c;
    border-top:none;
}

